{% load static %}

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="{% url 'profile' %}">
            <img src="{% static '/demo1/assets/img/logo.png' %}" alt="" class="dark-logo" style="height: 50px;">
            <img src="{% static '//demo1/assets/img/logo.png' %}" alt="" class="light-logo" style="height: 50px;">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href={% url 'profile' %} class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-chat3"></span><span class="mtext">Restaurant Profile</span>
                    </a>
                </li>
                <li>
                    <a href={% url 'calendar' %} class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Booking Table</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-list3"></span><span class="mtext">Menu</span>
                    </a>
                    <ul class="submenu">
                        <li><a href={% url 'menu' %}>Foods</a></li>
                        <li><a href={% url 'menu-add' %}>Add New Food</a></li>
                    </ul>
                </li>
                <li>
                    <a href={% url 'bookings' %} class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-list3"></span><span class="mtext">Menu Order</span>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
            </ul>
        </div>
    </div>
</div>