/* Tùy chỉnh CSS */

.table-card {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.table-card.reserved {
    background-color: #ffc107;
    /* Màu nền màu vàng cho bàn đã đặt */
}

.corner {
    margin-top: 22px;
}

.corner-box {
    background-color: black;
    color: whitesmoke;
    border: 2px solid rgb(118, 122, 94);
    padding: 22px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 5px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.corner-box.choose {
    background-color: #007bff;
    color: #fff;
}

.corner-box.booked {
    background-color: grey;
    color: #ccc;
}

.date-header {
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
}

.merged-cell {
    border: 2px solid lightseagreen !important;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.tab-pane-content {
    height: 80vh;
    overflow-y: auto;
}


/* Other styles for menu items */


/* Floating cart styles */

.floating-cart {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 999;
}

.cart-icon {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-count {
    position: absolute;
    top: -10px;
    /* Adjust top positioning */
    right: -10px;
    /* Adjust right positioning */
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.cart-icon:hover {
    background-color: darkgreen;
}

.order-step {
    text-align: center;
}

.order-step .active {
    color: #cda45e;
}

.order-step a {
    color: #fff;
}

.step-item {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.product-list {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.checkout-summary {
    padding-left: 20px;
}

.product-item {
    margin-bottom: 20px;
}

.product-item img {
    max-width: 100px;
    margin-right: 20px;
}

.product-item .details {
    flex-grow: 1;
}

.product-item .price {
    font-weight: bold;
}

.total-price {
    font-size: 1.5em;
    font-weight: bold;
}