<!-- Profile -->
{% extends 'admin.html' %} {% load static %} {% block title %} {{ food.name }} {% endblock %} {% block content %}

<body>
    {% include '../includes/admin/loader.html' %} {% include '../includes/admin/header.html' %} {% include '../includes/admin/layout_setting.html' %} {% include '../includes/admin/sidebar.html' %}
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'profile' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit Food</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">{{ food.name }}</h4>
                            <p class="mb-30">Edit Food</p>
                        </div>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="food_id" name="food_id" value="{{food.id}}">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" type="text" name="name" id="name" value="{{ food.name }}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Translation</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="form-control" id="translation_id" name="translation_id">                 
                    {% for translation in transalations %}
                      <option value="{{ translation.id }}" {% if food.translation_id == translation.id %} selected {% endif %}>
                        {{ translation.language }}
                      </option>
                    {% endfor %}                    
                  </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Category</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="form-control" id="category" name="category">                 
                    {% for category in categories %}
                      <option value="{{ category.id }}" {% if food.category.id == category.id %} selected {% endif %}>
                        {{ category.name }}
                      </option>
                    {% endfor %}                    
                  </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Description</label>
                            <div class="col-sm-12 col-md-10">
                                <textarea name="description" id="foodDescription" class="form-control" placeholder="Food Description">
                    {{ food.description }}
                  </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Price:</label>
                            <div class="col-sm-12 col-md-10">
                                <input name="price" id="foodPrice" class="form-control" type="text" value="{{ food.price }}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Image</label>
                            <div class="col-sm-12 col-md-10">
                                <input type="file" id="food-edit-upload" name="image" class="form-control-file form-control height-auto">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label"></label>
                            <div class="col-sm-12 col-md-10">
                                <img id="food-edit-image" class="img-thumbnail" style="height: 150px;" src="{{ food.image.url }}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Is Availability</label>
                            <div class="col-sm-12 col-md-10">
                                <div class="custom-control custom-checkbox mb-5">
                                    <input type="checkbox" class="custom-control-input" id="is_availabe" name="availability" value="available" {% if food.availability == 'available' %} checked {% endif %}>
                                    <label class="custom-control-label" for="is_availabe">Check to make it show</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="btn-list">
                                <button type="submit" id="edit-food-btn" class="btn btn-primary btn-lg text-center">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            {% include '../includes/admin/footer.html' %}
        </div>
    </div>
    {% endblock %}