<!-- profile.html -->
{% extends 'admin.html' %} {% load static %} {% load custom_filters %} {% block title %} Bookings Management {% endblock %} {% block content %} {% include '../includes/admin/loader.html' %} {% include '../includes/admin/header.html' %} {% include '../includes/admin/layout_setting.html'
%} {% include '../includes/admin/sidebar.html' %}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Menu</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'profile' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Orders</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Orders</h4>
                </div>
                <div class="pb-20">
                    <table class="table hover multiple-select-row data-table-export nowrap">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Sepcial Request</th>
                                <th>Total Price</th>
                                <th class="datatable-nosort">Status</th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %} {% if booking.customer.address == 'pickup-order' %}
                            <tr>
                                <th>{{ booking.booking_date }} - {{ booking.booking_time }}</th>
                                <td>{{ booking.special_requests }}</td>
                                <td>{{ booking.total_price }}</td>
                                <td>{{ booking.booking_status }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown"><i class="dw dw-more"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item show-booking-detail" data-booking-id="{{ booking.id }}"><i class="dw dw-edit2"></i> Show Detail</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
        </div>
        {% include '../includes/admin/footer.html' %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Order Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="bookingModalBody">
                <div id="customerInfo">
                    <ul>
                        <li>
                            <strong>Email:</strong> <span id="customer-email"></span>
                        </li>
                        <li>
                            <strong>Phone:</strong> <span id="customer-phone"></span>
                        </li>
                        <li>
                            <strong>Special Request:</strong> <span id="customer-special-request"></span>
                        </li>
                    </ul>
                </div>
                <hr />

                <h6>Table</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Food</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="tableDetail"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}