<!-- profile.html -->
{% extends 'admin.html' %}

{% load static %}

{% load custom_filters %}

{% block title %}
Bookings Management
{% endblock %}

{% block content %}

{% include '../includes/admin/loader.html' %}

{% include '../includes/admin/header.html' %}

{% include '../includes/admin/layout_setting.html' %}

{% include '../includes/admin/sidebar.html' %}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Menu</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'profile' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Bookings</li>
                            </ol>
                        </nav>
                    </div>
					<div class="col-md-6 col-sm-12 text-right">
                      <p>Toggle <code>OFF</code> to disable Order Online</p>
					  {% csrf_token %}
                      <div class="toggle-btn {% if restaurant.booking_enabled %}active{% endif %}">
						  <input type="checkbox"  checked class="cb-value" />
						  <span class="round-btn"></span>
						</div>
                    </div>
                </div>
                <div class="col-sm-12 row text-right">
                    <a href="https://viet-restaurant-hanoi.resos.com/booking" target="_blank" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Add Booking</a>
                </div>
            </div>

			<div class="card-box mb-30">			
			<!-- Orders -->
			<div class="card-box mb-30">
				<div class="embed-responsive embed-responsive-1by1">
					<iframe class="embed-responsive-item" src="https://app.resos.com/mEpssNj82av6eTjoj/bookings/timetable/today" style="border: 0" frameborder="0" scrolling="no">
					</iframe>
				</div>
			</div>
			<!-- Orders -->


        </div>
        {% include '../includes/admin/footer.html' %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="adminBookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body admin-booking-body">
      </div>
      <div class="modal-footer">
        <button id="admin-update-booking" data-booking-id="" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa-solid fa-cloud-arrow-up"></i> Update</button>
        <button id="admin-cancel-booking" type="button" class="btn btn-danger">Cancel Booking</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Booking -->
<div class="modal fade" id="adminAddBookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title" id="adminAddBookingModalTitle"><i class="fa-solid fa-plus"></i> Add Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body admin-booking-add-body">
      </div>
      <div class="modal-footer">
        <button id="admin-add-booking" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa-solid fa-paper-plane"></i> Create</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}