{% extends './base.html' %} {% load static %} {% block title %}Book Table - Viet
An Restaurant{% endblock %} {% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li>Booking</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Reservation</h2>
                <p>Book a Table</p>
            </div>

            <!-- resOS Booking widget script START -->
            <div class="text-center">
            <a id="booking-widget-2"
                href="https://viet-an-1710993907.resos.com/booking"
                data-lang="en" data-restaurant-id="mEpssNj82av6eTjoj"
                data-domain="viet-an-1710993907.resos.com">Book a
                table</a><div id="booking-script-2"
                style="text-align:center;opacity:0.6;font-size:70%;margin-top:10px;"><a
                    target="_blank" rel="noopener noreferrer"
                    href="https://resos.com">Restaurant table
                    management</a></div><script
                type="text/javascript">const scr=document.createElement("script");scr.src="https://viet-an-1710993907.resos.com/embed/booking/widget.js?ts="+new Date().getTime();document.getElementById("booking-script-2").appendChild(scr);</script>
                </div>
            <!-- resOS Booking widget script END -->
        </div>
    </section>
    <!-- End Book A Table Section -->

    <!-- Reservation Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header p-3 mb-2 bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel"
                        style="color: #CDA45E;">Reservation Condition</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-dark  mb-3">
                        <!-- <div class="card-body"> -->
                        <h5>Agreement to vacate required</h5>
                        <p>
                            Please note, your table is required back by <span
                                id="checking-booking-hour"></span>. If you
                            require the table for longer then please call the
                            restaurant to see if we can extend this for you.
                        </p>
                        <!-- </div> -->
                        <strong>Please confirm that you agree to these
                            conditions</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-danger"
                            data-bs-dismiss="modal">Agree</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Notice Modal -->
    <div class="modal fade" id="noticeModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header p-3 mb-2 bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel"
                        style="color: #CDA45E;">Notice for Group Bookings</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-dark  mb-3">
                        <!-- <div class="card-body"> -->
                        <p><strong>Notice for Group Bookings</strong></p>
                        <p>
                            For reservations of more than 10 people, we kindly
                            request that you contact us directly at <a
                                href="tel:+01224356826">01224 356826</a> so we
                            can best accommodate your group.
                        </p>
                        <!-- </div> -->
                        <strong>Thank you for your understanding!</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-danger"
                            data-bs-dismiss="modal">Agree</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- End #main -->
{% endblock content %}