{% extends './base.html' %} {% load static %} {% block title %}Book Table - Viet An Restaurant{% endblock %} {% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li>Booking</li>
                </ol>
            </div>

        </div>
    </section>

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Reservation</h2>
                <p>Book a Table</p>
            </div>

            <form action="/book-table" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                {% csrf_token %}
                <div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 form-group">
                        <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="text" name="booking_date" class="form-control" id="datepicker" placeholder="Date" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="text" class="form-control" name="booking_time" id="timePicker" placeholder="Time" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="number" class="form-control" name="total_customer" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars" required>
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="special_requests" rows="5" placeholder="Message"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                </div>
                <div class="text-center"><button class="btn btn-lg btn-danger" id="booking-btn" type="button">Book a Table</button></div>
            </form>
        </div>
    </section>
    <!-- End Book A Table Section -->

    <!-- Reservation Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header p-3 mb-2 bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #CDA45E;">Reservation Condition</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-dark  mb-3">
                        <!-- <div class="card-body"> -->
                        <h5>Agreement to vacate required</h5>
                        <p>
                            Please note, your table is required back by <span id="checking-booking-hour"></span>. If you require the table for longer then please call the restaurant to see if we can extend this for you.
                        </p>
                        <!-- </div> -->
                        <strong>Please confirm that you agree to these conditions</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Agree</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Notice Modal -->
    <div class="modal fade" id="noticeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header p-3 mb-2 bg-dark">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #CDA45E;">Notice for Group Bookings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-dark  mb-3">
                        <!-- <div class="card-body"> -->
                        <p><strong>Notice for Group Bookings</strong></p>
                        <p>
                            For reservations of more than 10 people, we kindly request that you contact us directly at <a href="tel:+01224356826">01224 356826</a> so we can best accommodate your group.
                        </p>
                        <!-- </div> -->
                        <strong>Thank you for your understanding!</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Agree</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- End #main -->
{% endblock content %}