{% extends './base.html' %} {% load static %} {% block title %}Book Table - Viet An Restaurant{% endblock %} {% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href={% url 'home' %}>Home </a></li>
                    <li><a href="{% url 'order-online' %}">Order </a></li>
                    <li>Cart</li>
                </ol>
            </div>

        </div>
    </section>

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <div class="order-step">
                    <a href={% url 'order-online' %}><i class="fas fa-list"></i></a>
                    <span class="step-item"></span> <span class="active"><i class="fas fa-shopping-cart"></i></span>
                    <span class="step-item"></span> <a href="{% url 'order-confirm' %}"><i class="fas fa-check-circle"></i></a>
                </div>
                <p class="mt-5">Cart</p>
            </div>

            <div class="row">
                <!-- Product List -->
                <div class="col-md-8 product-list">
                </div>

                <!-- Checkout Summary -->
                <div class="col-md-4 checkout-summary">
                    <h3 style="color: #cda45e;">Checkout</h3>
                    <hr>
                    <p><strong>Quantity:</strong> <span class="total-basket-items"></span></p>
                    <p class="total-price"><strong>Total:</strong> <span class="total-basket-total"></span></p>
                    <hr>
                    <div class="d-grid gap-2">
                        <a href="{% url 'order-confirm' %}" class="btn btn-danger btn-block">Proceed to Checkout</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Menu Section -->

</main>
<!-- End #main -->
{% endblock content %}