{% extends './base.html' %} {% load static %} {% block title %}Book Table - Viet An Restaurant{% endblock %} {% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li>Checkout</li>
                </ol>
            </div>

        </div>
    </section>

    <!-- ======= Book A Table Section ======= -->
    <section id="order-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <div class="order-step">
                    <a href={% url 'order-online' %}><i class="fas fa-list"></i></a>
                    <span class="step-item"></span> </span>
                    <a href="{% url 'order-book' %}"><i class="fas fa-shopping-cart"></i></a>
                    <span class="step-item"></span> <span class="active"><i class="fas fa-check-circle"></i></span>
                </div>
                <p class="mt-5">Checkout</p>
            </div>

            <form action="#" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                {% csrf_token %}
                <div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 form-group">
                        <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 form-group mt-3">
                        <input type="text" name="booking_date" class="form-control" id="datepicker" placeholder="Date" required>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 form-group mt-3">
                        <input type="text" class="form-control" name="booking_time" id="timePicker" placeholder="Time" required>
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" id="special_requests" name="special_requests" rows="5" placeholder="Message"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                </div>
                <div class="text-center"><button class="btn btn-lg btn-danger" id="order-finish" type="button">Place Order</button></div>
            </form>
        </div>
    </section>
    <!-- End Book A Table Section -->



    <!-- Success Modal -->
    <div class="modal fade" id="order-success-modal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="successModalLabel" style="color: #cda45e;">Order Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black;">
                    <p>Your order request has been sent. We will contact to confirm your reservation.</p>
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Dish</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="orderItems"></tbody>
                    </table>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-8">
                            <strong>Pickup Time</strong>
                            <span class="order-pickup-time"></span>
                        </div>
                        <div class="col-4">
                            <strong>Total</strong>
                            <span id="totalOrder">0</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</main>
<!-- End #main -->
{% endblock content %}