{% extends './base.html' %} {% load static %} {% block title %}Book Table - Viet An Restaurant{% endblock %} {% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href={% url 'home' %}>Home</a></li>
                    <li>Order</li>
                </ol>
            </div>

        </div>
    </section>

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <div class="order-step">
                    <span class="active"><i class="fas fa-list"></i></span>
                    <span class="step-item"></span><a href="{% url 'order-book' %}"><i class="fas fa-shopping-cart"></i></a>
                    <span class="step-item"></span> <a href="{% url 'order-confirm' %}"><i class="fas fa-check-circle"></i></a>
                </div>
                <p class="mt-5">Foods you love, delivered to you</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-small-bites">Small Bites</li>
                        <li data-filter=".filter-mains">Mains</li>
                        <li data-filter=".filter-desserts">Desserts</li>
                    </ul>
                </div>
            </div>

            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                {% for food in foods %}
                <div class="col-lg-6 menu-item {{food.category.filter_code}}">
                    <a href="{{food.image.url}}" data-lightbox="image-set" data-title="{{food.name}}">
                        <img src="{{food.image.url}}" alt="{{food.name}}" class="menu-img" alt="">
                    </a>
                    <div class="menu-content">
                        <a href="#">{{food.name}}</a><span>{{food.price}}</span>
                    </div>
                    <div class="menu-ingredients">
                        {{food.description}}
                    </div>
                    <div class="add-to-cart text-end">
                        <a class="add-to-basket" href="#" data-food-name="{{food.name}}" data-food-id="{{food.id}}" data-food-price="{{food.price}}" data-food-image="{{food.image.url}}">Add to Cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Menu Section -->


    <div id="my-cart" class="floating-cart d-none">
        <button class="cart-icon"><i class="fas fa-shopping-cart"></i></button>
        <span class="cart-count"></span>
    </div>

</main>
<!-- End #main -->
{% endblock content %}