<!-- Modal -->
<div class="modal fade" id="foodModal" tabindex="-1" aria-labelledby="foodModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h3 class="modal-title" id="foodModalLabel" style="color: #cda45e;">Order Online</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <section class="h-custom">
                    <div class="container py-2">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-12">
                                <div class="card card-registration card-registration-2 bg-dark" style="border-radius: 15px;">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-lg-8">
                                                <div class="p-5">
                                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                                        <h1 class="fw-bold mb-0" style="color: #cda45e;">Check Our Tasty Menu</h1>
                                                    </div>

                                                    <!-- Tabs navs -->
                                                    <nav>
                                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#{{ categories.0.filter_code }}" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="color: #cda45e;">{{
                                                                categories.0.name
                                                                }}</button>
                                                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#{{ categories.1.filter_code }}" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="color: #cda45e;">{{
                                                                categories.1.name
                                                                }}</button>
                                                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#{{ categories.2.filter_code }}" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" style="color: #cda45e;">{{
                                                                categories.2.name
                                                                }}</button>
                                                        </div>
                                                    </nav>
                                                    <div class="tab-content" id="nav-tabContent">
                                                        <div class="tab-pane fade show active" id="{{ categories.0.filter_code }}" role="tabpanel" aria-labelledby="{{ categories.0.filter_code }}">
                                                            <!-- Tab Content -->
                                                            <div class="col-lg-12 tab-pane-content">
                                                                <div class="p-2">
                                                                    {% for food in foods %} {% if food.category_id == categories.0.id %}
                                                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                                            <a href="{{food.image.url}}" data-lightbox="image-set" data-title="{{food.name}}">
                                                                                <img src="{{food.image.url}}" class="rounded-circle" alt="{{food.name}}" style="width: 80px; height: 80px;">
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                                            <h6>{{food.name}}</h6>
                                                                            <h6 class="text-black mb-0"></h6>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                            <div class="input-group quantity-control row basket-row">
                                                                                <span class="input-group-btn text-center">
                                                                                    <button
                                                                                        type="button"
                                                                                        class="btn text-white btn-default btn-number add-to-basket"
                                                                                        data-type="plus"                                                                                        
                                                                                        data-food-name={{food.name}}
                                                                                        data-food-id="{{food.id}}"
                                                                                        data-food-price={{food.price}}>
                                                                                        <i
                                                                                            class="fa-solid fa-plus"></i>
                                                                                    </button>
                                                                                </span>
                                                                                <input disabled type="text" name="quant[1]" class="form-control input-number text-center basket-food" data-food-name={{food.name}} data-food-id="{{food.id}}" data-food-price={{food.price}} value="0" min="1" max="10">
                                                                                <span class="input-group-btn text-center">
                                                                                    <button
                                                                                        type="button"
                                                                                        class="btn text-white btn-default btn-number reduce-to-basket"
                                                                                        data-type="minus"
                                                                                        data-food-name={{food.name}}
                                                                                        data-field="quant[1]"
                                                                                        data-food-id="{{food.id}}"
                                                                                        data-food-price={{food.price}}>
                                                                                        <i
                                                                                            class="fa-solid fa-minus"></i>
                                                                                    </button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                                            <h6 class="mb-3" style="color: #cda45e;">{{food.price}}</h6>
                                                                        </div>
                                                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                                                                        </div>
                                                                    </div>
                                                                    {% endif %} {% endfor %}
                                                                </div>
                                                            </div>
                                                            <!-- Tab Content -->
                                                        </div>
                                                        <div class="tab-pane fade" id="{{ categories.1.filter_code }}" role="tabpanel" aria-labelledby="{{ categories.1.filter_code }}">
                                                            <!-- Tab Content -->
                                                            <div class="col-lg-12 tab-pane-content">
                                                                <div class="p-2">
                                                                    {% for food in foods %} {% if food.category_id == categories.1.id %}
                                                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                                            <a href="{{food.image.url}}" data-lightbox="image-set" data-title="{{food.name}}">
                                                                                <img src="{{food.image.url}}" class="rounded-circle" alt="{{food.name}}" style="width: 80px; height: 80px;">
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                                            <h6>{{food.name}}</h6>
                                                                            <h6 class="text-black mb-0"></h6>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                            <div class="input-group quantity-control row basket-row">
                                                                                <span class="input-group-btn">
                                                                                    <button
                                                                                        type="button"
                                                                                        class="btn text-white btn-default btn-number add-to-basket"
                                                                                        data-type="plus"
                                                                                        data-field="quant[1]"
                                                                                        data-food-name={{food.name}}
                                                                                        data-food-id="{{food.id}}"
                                                                                        data-food-price={{food.price}}>
                                                                                        <i
                                                                                            class="fa-solid fa-plus"></i>
                                                                                    </button>
                                                                                </span>
                                                                                <input disabled type="text" name="quant[1]" class="form-control input-number text-center basket-food" value="0" min="1" max="10" data-food-name={{food.name}} data-food-id="{{food.id}}" data-food-value={{food.price}}>
                                                                                <span class="input-group-btn">
                                                                                    <button
                                                                                        type="button"
                                                                                        class="btn text-white btn-default btn-number reduce-to-basket"
                                                                                        data-type="minus"
                                                                                        data-field="quant[1]"
                                                                                        data-food-name={{food.name}}
                                                                                        data-food-id="{{food.id}}"
                                                                                        data-food-price={{food.price}}>
                                                                                        <i
                                                                                            class="fa-solid fa-minus"></i>
                                                                                    </button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                                            <h6 class="mb-3" style="color: #cda45e;">{{food.price}}</h6>
                                                                        </div>
                                                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                                                                        </div>
                                                                    </div>
                                                                    {% endif %} {% endfor %}
                                                                </div>
                                                            </div>
                                                            <!-- Tab Content -->
                                                        </div>
                                                        <div class="tab-pane fade" id="{{ categories.2.filter_code }}" role="tabpanel" aria-labelledby="{{ categories.2.filter_code }}">
                                                            <!-- Tab Content -->
                                                            <div class="col-lg-12 tab-pane-content">
                                                                <div class="p-2">
                                                                    {% for food in foods %} {% if food.category_id == categories.2.id %}
                                                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                                                            <a href="{{food.image.url}}" data-lightbox="image-set" data-title="{{food.name}}">
                                                                                <img src="{{food.image.url}}" class="rounded-circle" alt="{{food.name}}" style="width: 80px; height: 80px;">
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                                            <h6>{{food.name}}</h6>
                                                                            <h6 class="text-black mb-0"></h6>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                            <div class="input-group quantity-control row basket-row">
                                                                                <span class="input-group-btn text-center">
                                                                                    <button
                                                                                        type="button"
                                                                                        class="btn text-white btn-default btn-number add-to-basket"
                                                                                        data-type="plus"
                                                                                        data-field="quant[1]"
                                                                                        data-food-name={{food.name}}
                                                                                        data-food-id="{{food.id}}"
                                                                                        data-food-price={{food.price}}>
                                                                                        <i
                                                                                            class="fa-solid fa-plus"></i>
                                                                                    </button>
                                                                                </span>
                                                                                <input disabled type="text" name="quant[1]" class="form-control input-number text-center basket-food" value="0" min="1" max="10" data-food-name={{food.name}} data-food-id="{{food.id}}" data-food-price={{food.price}}>
                                                                                <span class="input-group-btn text-center">
                                                                                    <button
                                                                                        type="button"
                                                                                        class="btn text-white btn-default btn-number reduce-to-basket"
                                                                                        data-type="minus"
                                                                                        data-field="quant[1]"
                                                                                        data-food-name={{food.name}}
                                                                                        data-food-id="{{food.id}}"
                                                                                        data-food-price={{food.price}}>
                                                                                        <i
                                                                                            class="fa-solid fa-minus"></i>
                                                                                    </button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                                            <h6 class="mb-3" style="color: #cda45e;">{{food.price}}</h6>
                                                                        </div>
                                                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                                                                        </div>
                                                                    </div>
                                                                    {% endif %} {% endfor %}
                                                                </div>
                                                            </div>
                                                            <!-- Tab Content -->
                                                        </div>
                                                    </div>
                                                    <!-- Tabs content -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4 bg-primary" style="border-radius: 15px;">
                                                <div class="p-5" style="height: 100vh; overflow-y: auto;">
                                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                                    <hr class="my-4">

                                                    <div class="d-flex justify-content-between mb-4">
                                                        <h5 class="text-uppercase">Items</h5>
                                                        <h5><span class="total-basket-items"></span></h5>
                                                    </div>
                                                    <div class="d-flex justify-content-between mb-5">
                                                        <h5 class="text-uppercase">Total price
                                                        </h5>
                                                        <h5><sup class="total-basket-total"></sup></h5>
                                                    </div>

                                                    <hr class="my-4">

                                                    <h5 class="text-uppercase mb-3">Delivery Method
                                                    </h5>

                                                    <div class="mb-4 pb-2">
                                                        <select id="order-delivery-method" class='form-control'>
                                                            <option
                                                                value="none">--Choose--</option>
                                                            <option
                                                                value="pickup-order">Pickup</option>
                                                            <option
                                                                value="delivery-order">Delivery</option>
                                                        </select>
                                                    </div>

                                                    <div id="pickup-method" class="d-none">
                                                        <h5 class="text-uppercase mb-3">Pickup Date
                                                        </h5>

                                                        <div class="mb-5">
                                                            <div data-mdb-input-init class="form-outline">
                                                                <input type="date" id="pickup-date" class="form-control form-control-lg" />
                                                            </div>
                                                        </div>

                                                        <h5 class="text-uppercase mb-3">Contact Info
                                                        </h5>

                                                        <div class="mb-2">
                                                            <div data-mdb-input-init class="form-outline">
                                                                <input type="email" id="pickup-email" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea2">Your
                                                                    email</label>
                                                            </div>
                                                        </div>

                                                        <div class="mb-2">
                                                            <div data-mdb-input-init class="form-outline">
                                                                <input type="number" id="pickup-phone" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea2">Your
                                                                    phone</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="delivery-method" class="d-none">
                                                        <h5 class="text-uppercase mb-3">Delivery Address
                                                        </h5>

                                                        <div class="mb-2">
                                                            <div data-mdb-input-init class="form-outline">
                                                                <input type="text" id="delivery-address" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea2">Your
                                                                    address</label>
                                                            </div>
                                                        </div>

                                                        <div class="mb-2">
                                                            <div data-mdb-input-init class="form-outline">
                                                                <input type="email" id="delivery-email" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea2">Your
                                                                    email</label>
                                                            </div>
                                                        </div>

                                                        <div class="mb-2">
                                                            <div data-mdb-input-init class="form-outline">
                                                                <input type="number" id="delivery-phone" class="form-control form-control-lg" />
                                                                <label class="form-label" for="form3Examplea2">Your
                                                                    phone</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-grid gap-2">
                                                        {% csrf_token %}
                                                        <button id="order-finish" class="btn btn-danger" type="button">ORDER</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>